*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

@font-face {
    font-family: "Inter";
    src: url(/assets/font/Inter/static/Inter-Regular.ttf);
}

/* Humbuerger button */
.toggle-btn {
     display: none;
}

/* Navbar Content */
.navbar {
    background-color: #37517E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    gap: 100px;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Logo-title */
.logo-title {
    color: #fff;
    gap: -5px;
}

.logo-title-1 {
    font-weight: 800;
    font-size: 24px;
}

.logo-title-2 {
    font-size: 12px;
    letter-spacing: 8px;
    margin-top: -5px;
}

/* Navbar Menu */
.navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding-right: 16px;
    color: #fff;
    font-size: 18px;
}

/* Right Navbar */
.right-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button Join Sekarang */
.btn-join>button {
    background-color: transparent;
    color: #47B2E4;
    border: 1px solid #47B2E4;
    border-radius: 24px;
    padding: 10px 20px;
}

/* Header Section */
.header-section {
    background-color: #37517E;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-wrapper-left {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 50px;
}

/* .header-wrapper-right {} */

.header-wrapper-right>img {
    position: relative;
    width: 100%;
    height: auto;
}

.header-title {
    color: #fff;
    gap: 24px;
}

.header-title>h1 {
    font-size: 45px;
}

.header-title>p {
    font-size: 22px;
    padding-top: 24px;
}

.header-btn {
    display: flex;
    gap: 24px;
}

.header-btn>button {
    background-color: #47B2E4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
}

.btn-play-video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-play-video>button {
    background-color: transparent;
    border: none;
    color: #fff;
}

/* Certification Content */
.certification {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: #F3F5FA;
    height: 100px;
}

/* Tentang Kami */
.tentang-kami-container {
    height: auto;
}

.title-content {
    text-align: center;
}

.article-container {
        display: flex;
        gap: 24px;
        color: #4F4F4F;
        margin: 24px auto;
        width: 80%;
    }

.title-content>h2 {
    font-size: 32px;
    color: #37517E;
}

.left-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}

.benefit-list {
    margin-left: 24px;
    margin-top: 10px;
    list-style-type: none;
}

.benefit-list li::before {
    content: "\2713";
    color: #47B2E4;
    font-size: 18px;
    margin-right: 5px;
}

.right-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    gap: 48px;
}

.right-article>button {
    background-color: transparent;
    color: #47B2E4;
    border: 1px solid #47B2E4;
    border-radius: 24px;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
}

/* Business Plan Section */
.business-section {
    background-color: #F3F5FA;
    width: 100%;
    height: auto;
}

.business-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.business-left>p {
    font-size: 24px;
    color: #37517E;
    margin-bottom: 5%;
}

.card-text-business {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-business-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 80%;
    padding-right: 5px;
    border-radius: 12px;
}

.business-text {
    padding: 10px;
    border-radius: 5px;
}

.business-wrapper-right>img {
    position: relative;
    width: 100%;
    height: 100%;
}

.business-wrapper-card {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 24px;
        margin: 24px auto;
        padding-bottom: 24px;
    }

.card-business {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    padding: 24px;
    box-shadow: 1px 1px 20px 1px #ccc;
    color: #37517E;
    height: auto;
    border-radius: 12px;
}

.card-business>img {
    position: relative;
    width: 20%;
}

/* Produk Kami Section */
.text-content {
    color: #4F4F4F;
    font-weight: 500;
    text-align: center;
    width: 80%;
    margin: 24px auto;
    text-align: justify;
}

.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.menu-content button {
    background-color: transparent;
    color: #47B2E4;
    border: 1px solid #47B2E4;
    border-radius: 24px;
    padding: 10px 20px;
    width: 92px;
}

/* Grid Photo Produk Kami */
.grid-item img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    border-radius: 12px;
}

.grid-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 48px;
    margin-bottom: 5%;
}

#photo1 {
    grid-column: 1 / span 2;
}

#photo2 {
    grid-column: 3 / span 2;
}

#photo3 {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
}

#photo4 {
    grid-column: 1 / span 2;
}

#photo5 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}

#photo6 {
    grid-column: 1 / span 2;
}

#photo7 {
    grid-column: 5 / span 2;
    grid-row: 3;
}

/* Peluang Bisnis Section */
.peluang-bisnis-container {
    background-color: #F3F5FA;
}

.title-content>h2 {
    padding-top: 48px;
}

.card-pb-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 48px;
}

.card-pb-wrapper {
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 20px 1px #ccc;
    border-radius: 12px;
}

.card-pb-wrapper>div>h3 {
    color: #37517E;
    border-bottom: 2px solid #37517E;
    padding-bottom: 5px;
    width: 80%;
    margin-bottom: 16px;
    font-size: 18px;
}

.card-pb-wrapper>div>p {
    color: #4F4F4F;
    font-size: 14px;
    text-align: justify;
}

.below-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 15%;
}

.below-card-wrapper>div>h3 {
    color: #37517E;
    margin-bottom: 24px;
}

.below-card-wrapper>div>p {
    color: #4F4F4F;
    text-align: justify;
}

/* Paket Join Section */
.paket-join-section {
    padding: 0 24px;
}

.card-plan-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 48px auto;
}

.card-plan-wrapper {
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px #ccc;
    padding: 24px;
    width: calc(100% / 3 );
    height: auto;
    border-radius: 12px;
}

.card-plan-wrapper>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-plan-wrapper>div>h3 {
    color: #37517E;
}

.card-plan-wrapper>div>h4 {
    color: #37517E;
    font-size: 48px;
    font-weight: 500;
}

.card-plan-wrapper>div>p {
    color: #47B2E4;
}

.card-list-plan {
    margin-top: 48px;
}

.card-list-plan>ul {
    margin-left: 20px;
    list-style-type: none;
}

.card-list-plan>ul>li::before {
    content: "\2713";
    color: #47B2E4;
    font-size: 18px;
    margin-right: 5px;
}

.card-list-plan>button {
    background-color: #47B2E4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    margin-top: 48px;
}

/* Pertanyaan Section */
.pertanyaan-container {
    background-color: #F3F5FA;
}

.box-question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 48px;
    padding-bottom: 5%;
}

.box-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 60%;
    padding: 10px;
    border-radius: 12px;
}

.box-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* KONTAK SECTION */
.kontak {
    padding: 0 24px;
}

.contact-container-left {
    border-bottom: 10px solid #47B2E4;
    border-top: 10px solid #47B2E4;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px #ccc;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px;
    width: calc(100% / 2);
    height: auto;
}

.contact-wrapper-left {
    display: flex;
    align-items: center;
    gap: 24px;
    height: auto;
}

.contact-wrapper-left>div>img {
    background-color: #F3F5FA;
    padding: 15px;
    border-radius: 50%;
}

.text-contact-wrapper {
    display: flex;
    flex-direction: column;
}

.text-contact-wrapper>h3 {
    color: #37517E;
}

.text-contact-wrapper>p {
    color: #47B2E4;
}

.contact-container-main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 48px;
    max-width: 1200px;
    margin: 48px auto;
}

.map>img {
    position: relative;
    object-fit: cover;
    width: 100%;
}

.contact-container-right {
    border-bottom: 10px solid #47B2E4;
    border-top: 10px solid #47B2E4;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px #ccc;
    width: calc(100% / 2);
    height: auto;
}

.contact-wrapper-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.input {
    display: flex;
    flex-direction: column;
}

.input>input {
    width: 100%;
    height: 40px;
}

.wrapper-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.wrapper-2 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.wrapper-2>input {
    height: 40px;
}

.wrapper-3 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.btn-pesan>button {
    background-color: #47B2E4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    width: 50%;
}

.btn-pesan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

/* Bergabung dengan kami section */
.join-us-container {
    background-color: #F3F5FA;
    margin-top: 5%;
    padding-bottom: 24px;
}

/* Footer */
.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 24px auto;
}

.footer-wrapper-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20%;
}

.logo-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-title-footer {
    color: #37517E;
    gap: -5px;
}

.logo-title-1-footer {
    font-weight: 800;
    font-size: 24px;
}

.logo-title-2-footer {
    font-size: 12px;
    letter-spacing: 8px;
    margin-top: -5px;
}

.footer-wrapper-2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-wrapper-2>h4 {
    color: #37517E;
    margin-bottom: 5%;
}

.footer-wrapper-2>ul {
    margin-left: 10%;
    list-style-type: none;
}

.footer-wrapper-2>ul>li::before {
    content: "\2023";
    margin-right: 5%;
    color: #47B2E4;
    font-weight: bold;
}

.footer-wrapper-3 {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.social-group {
    display: flex;
    gap: 5%;
}

.footer-wrapper-3>h4 {
    color: #37517E;
}

/*Box Footer*/
.box-footer {
    background-color: #37517E;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.box-footer>p {
    color: #fff;
}

.footer-wrapper-1>div>p {
    color: #4F4F4F;
}

.footer-wrapper-2>ul {
    color: #4F4F4F;
}

/* Responsive DESKTOP */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    /* Header and Navbar */
    .navbar-menu {
        font-size: 14px;
    }
    .btn-join>button {
        padding: 5px 15px;
    }
    .header-title>h1 {
        font-size: 35px;
    }
    .header-title>p {
        font-size: 16px;
        padding-top: 24px;
    }
    /* Tentang Kami Section */
    .right-article>button {
        width: 50%;
    }
    /* Business Section */
    .business-section {
        padding: 0 24px;
    }
    .text-business-wrapper {
        width: 100%;
        font-size: 16px;
    }
    .card-business {
        width: 25%;
        font-size: 16px;
    }
    /* Peluang Bisnis Section */
    .card-pb-wrapper {
        flex-direction: column;
    }
    .card-pb-container {
        width: 80%;
        margin: 48px auto;
    }
    .below-card-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    /* Paket Join Section */
    .card-list-plan>ul {
        font-size: 14px;
    }
}

/* Responsive SMALL DESKTOP */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    /* Header and Navbar */
    .navbar {
        padding: 0 24px;
    }
    .navbar-menu {
        font-size: 12px;
    }
    .btn-join>button {
        padding: 5px 10px;
    }
    .header-container {
        padding: 0 24px;
    }
    .header-title>h1 {
        font-size: 30px;
    }
    .header-title>p {
        font-size: 16px;
        padding-top: 24px;
    }
    .header-wrapper-left {
        width: 100%;
        height: auto;
    }
    .header-title>p {
        font-size: 16px;
        padding-top: 12px;
    }
    .header-wrapper-right {
        width: 100%;
        height: auto;
    }
    
    /* TENTANG KAMI */
    .article-container {
        margin: 24px auto;
    }
    .right-article>button {
        width: 100%;
    }

    /* BISNIS SECTION */
    .business-left {
        width: 80%;
    }
    .business-left>p {
        font-size: 24px;
    }
    .text-business-wrapper {
        width: 100%;
        font-size: 14px;
    }
    .card-business {
        padding: 12px;
        width: 100%;
        font-size: 14px;
    }

    /* PELUANG BISNIS SECTION */
    .card-pb-wrapper {
        flex-direction: column;
    }
    .card-pb-wrapper>div>h3 {
        text-align: center;
        width: 100%;
    }
    .below-card-wrapper {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 24px;
    }
    .card-plan-container {
        flex-direction: column;
        align-items: center;
    }
    .card-plan-wrapper {
        width: calc(100% / 2);
    }

    /* PERTANYAAN SECTION */
    .box-question {
        width: 80%;
    }

    /* KONTAK SECTION */
    .contact-wrapper-left {
        font-size: 14px;
    }
    .contact-wrapper-right {
        font-size: 14px;
    }

    /* FOOTER SECTION */
    .footer-container {
        font-size: 14px;
    }
    .box-footer {
        font-size: 12px;
    }
}

/* Responsive TABLET */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    /* Header and Navbar */
    .header-section {
        padding: 0 12px;
    }
    .navbar {
        justify-content: space-between;
        padding: 0 24px;
    }
    .right-navbar {
        display: none;
    }
    .toggle-btn {
        display: block;
    }
    .toggle-btn {
        display: flex;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 3px;
        background-color: #fff;
        border-radius: 15px;
        margin: 8px;
        transition: .5s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    .header-container {
        flex-direction: column-reverse;
    }
    .header-title>h1 {
        font-size: 24px;
    }
    .header-title>p {
        font-size: 16px;
        padding-top: 8px;
    }
    .header-wrapper-left {
        width: 100%;
        align-items: center;
        text-align: center;
        height: auto;
        padding-bottom: 24px;
    }
    .certification{
        padding: 0 12px;
    }
    .certification>img {
        width: 20%;
    }

    /* TENTANG KAMI SECTION*/
    .right-article>button {
        width: 100%;
    }
    .article-container {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 24px auto;
    }
    .business-container {
        flex-direction: column-reverse;
    }
    .business-left {
        width: 90%;
    }
    .text-business-wrapper {
        width: 100%;
    }
    .business-wrapper-card {
        flex-direction: column;
        align-items: center;
    }
    .card-business {
        width: 80%;
        align-items: center;
        text-align: center;
    }

    /* PELUANG BISNIS SECTION */
    .card-pb-container {
        gap: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .card-pb-wrapper {
        flex-direction: column;
    }
    .card-pb-wrapper>div>h3 {
        width: 100%;
        text-align: center;
    }
    .below-card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 24px;
    }

    /* PRODUK KAMI SECTION */
    .produk-kami {
        padding: 0 12px;
    }

    /* PAKET JOIN */
    .card-plan-container {
        flex-direction: column;
        align-items: center;
    }
    .card-plan-wrapper {
        width: calc(100% / 1 );
    }

    /* PERTANYAAN SECTION */
    .box-question {
        width: 80%;
    }

    /* KONTAK SECTION */
    .contact-container-left {
        font-size: 14px;
        width: calc(100% / 1);
    }
    .contact-container-right {
        width: calc(100% / 1);
    }
    .contact-wrapper-right {
        font-size: 14px;
        width: 100%;
    }
    .contact-container-main {
        flex-direction: column;
        align-items: center;
    }
    .btn-pesan {
        padding-bottom: 24px;
    }

    /* FOOTER SECTION */
    .footer-container {
        font-size: 14px;
        flex-direction: column;
        align-items: center;
    }
    .logo-2 {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
    .footer-wrapper-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        text-align: center;
    }
    .footer-wrapper-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 24px auto;
    }
    .footer-wrapper-3 {
        align-items: center;
        gap: 10px;
    }
    .social-group {
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }
    .box-footer {
        font-size: 12px;
    }
}

/* Responsive MOBILE */
@media only screen and (max-width: 426px) {
    /* Header and Navbar */
    .header-section {
        padding: 0 12px;
    }
    .navbar {
        justify-content: space-between;
        padding: 0 24px;
    }
    .right-navbar {
        display: none;
    }
    .toggle-btn {
        display: block;
    }
    .toggle-btn {
        display: flex;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 3px;
        background-color: #fff;
        border-radius: 15px;
        margin: 8px;
        transition: .5s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    .header-container {
        flex-direction: column-reverse;
    }
    .header-title>h1 {
        font-size: 24px;
    }
    .header-title>p {
        font-size: 16px;
        padding-top: 8px;
    }
    .header-wrapper-left {
        width: 100%;
        align-items: center;
        text-align: center;
        height: auto;
        padding-bottom: 24px;
    }
    .certification{
        padding: 0 12px;
    }
    .certification>img {
        width: 20%;
    }

    /* TENTANG KAMI SECTION*/
    .right-article>button {
        width: 100%;
    }
    .article-container {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 24px auto;
    }
    .business-container {
        flex-direction: column-reverse;
    }
    .business-left {
        width: 90%;
    }
    .text-business-wrapper {
        width: 100%;
    }
    .business-wrapper-card {
        flex-direction: column;
        align-items: center;
    }
    .card-business {
        width: 80%;
        align-items: center;
        text-align: center;
    }

    /* PELUANG BISNIS SECTION */
    .card-pb-container {
        gap: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .card-pb-wrapper {
        flex-direction: column;
    }
    .card-pb-wrapper>div>h3 {
        width: 100%;
        text-align: center;
    }
    .below-card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 24px;
    }

    /* PRODUK KAMI SECTION */
    .produk-kami {
        padding: 0 12px;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 12px auto;
    }

    /* PAKET JOIN */
    .card-plan-container {
        flex-direction: column;
        align-items: center;
    }
    .card-plan-wrapper {
        width: calc(100% / 1 );
    }

    /* PERTANYAAN SECTION */
    .box-question {
        width: 80%;
    }

    /* KONTAK SECTION */
    .contact-container-left {
        font-size: 14px;
        width: calc(100% / 1);
    }
    .contact-container-right {
        width: calc(100% / 1);
    }
    .contact-wrapper-right {
        font-size: 14px;
        width: 100%;
    }
    .contact-container-main {
        flex-direction: column;
        align-items: center;
    }
    .btn-pesan {
        padding-bottom: 24px;
    }

    /* FOOTER SECTION */
    .footer-container {
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        padding: 0 12px;
    }
    .logo-2 {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
    .footer-wrapper-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .footer-wrapper-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 24px auto;
    }
    .footer-wrapper-3 {
        align-items: center;
        gap: 10px;
    }
    .social-group {
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }
    .box-footer {
        font-size: 12px;
        flex-direction: column;
        gap: 12px;
    }
}
